<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand text-warning" href="{{ path('events_index') }}">TaskPlanner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('events_index') }}">Events</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                        <img src="{{ app.user.avatar }}" class="rounded-circle w-25" alt="avatar">
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                        <a class="dropdown-item" href="{{ path('events_create') }}">Create an event</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('account_index') }}">My account</a>
                        <a class="dropdown-item" href="{{ path('account_profile') }}">Edit account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('account_logout') }}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_register') }}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_login') }}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }} mt-3">
            {% for message in messages %}
                <p>{{ message}}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}